<p class="show-toc-btn" id="show-toc-btn" onclick="showToc();" style="display:none">
	<span class="btn-bg"></span>
	<span class="btn-text">文章导航</span>
</p>
<div id="toc-article" class="toc-article">
	<span id="toc-close" class="toc-close" title="隐藏导航" onclick="showBtn();">×</span>
	<strong class="toc-title">文章目录</strong>
	<%- toc(post.content) %>
</div>
<script type="text/javascript">
	function showToc(){
		var toc_article = document.getElementById("toc-article");
		var show_toc_btn = document.getElementById("show-toc-btn");
		toc_article.setAttribute("style","display:block");
		show_toc_btn.setAttribute("style","display:none");
		};
	function showBtn(){
		var toc_article = document.getElementById("toc-article");
		var show_toc_btn = document.getElementById("show-toc-btn");
		toc_article.setAttribute("style","display:none");
		show_toc_btn.setAttribute("style","display:block");
	};
</script>